body{
	background-color:#ff8b00;
	font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
}

/*** Ecran Logo ***/
.app {
    font-size: 300%;
    width: 80%;
    padding: 10%;

}   
    .app img{
        width: 30%;
        display: table-cell;
        float: left;
    }
    #ecranLogoRight{
        display: table;
        float:left;
        padding-top: 25px;

    }
        .app  h1{
            display: table-row;
        }
        #deviceready{
            display: table-row;
        }

/* Landscape layout (with min-width) */
/*@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;
        margin:-90px 0px 0px -198px;
}*/

h1 {
    font-size:240%;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:8px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:80%;
    margin:0px 30px;
    padding:5px 15px;
    text-align: center;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
/*** FIN Ecran Logo ***/

.content{
	font-size: 400%;
	width: 80%;
	padding: 10%;
    margin: 0 auto;
}
h2{
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-top: -5%;
}
button{
    font-size: 1em;
    background: none repeat scroll 0 0 transparent;
    border:medium none;
    color:white;
    border-radius: 20%;
}

/*** SELECTION DU NOMBRE DE SUJETS ***/

.choixSujet{
    background-color: #ff284a; /* rose */
	border : 3px #ff284a ridge;
	padding: 2% 4% 2% 4%;
}

#boutons{
    margin-top: 5%;
    text-align: center;
}
/*** FIN SELECTION DU NOMBRE DE SUJETS ***/
/*** CHOIX DES SUJETS COULEURS ET TITRES ***/
#sujets{
    width: 80%;
    margin: 0 auto;
}
#sujets input{
    font-size: 75%;
    height: 60px;
    padding:3px;
    border:1px solid #F5C5C5;
    border-radius:5px;
    width:60%;
    box-shadow:1px 1px 2px #C0C0C0 inset;
}

.couleurSujet{ /*canvas de couleur*/
    width : 60px;
    height: 60px;
    background-color: black;
    border-radius : 15px;
    margin : 0 2% 0 0; 
    margin-bottom: -3%;

}
#sujets table{
    margin-top: 5%;

}

/*** FIN CHOIX DES SUJETS COULEURS ET TITRES ***/

/*** SELECTION DE PRESENTATION DE RESULTATS***/
.choixResult{
}
    .voteRouge{ 
        background-color:red;
    }

    .voteBleu{
		background-color: blue;
	}

	.croixBleu+span{
        color:blue;
    }

    .croixRouge+span{
        color:red;
    }

    #canvasChoix1{
        text-align: left;
        display:none;
    }
    #canvasChoix2{
        text-align: left;
        display:table;
        display: none;
    }
	    #canvasChoix2 span{
        	display:table-cell;
        	padding-left: 20px;
	    }
	#ligne1compt{
		display:table-row;
	}
	#canvas1compt{
		display: table-cell;
	}
   
    #ligne2compt{
		display:table-row;
	}
	.vote{
	 	height: 72px;
	 	width: 5%;
	 	border-radius: 45%;
	}
	.voteCase{
	 	width: 65px;
	 	height: 65px;
	 	border-radius: 50%;
	}
	#canvasChoix3{

	}
		#canvasChoix3 table{
			margin-top: 20px;
		 	border-collapse:collapse;
		 	text-align: center;
		}
		#canvasChoix3 tr{
			width: auto;
			height: 75px;
		}
		#canvasChoix3 td {
		 	border:1px solid black;
		 	width:75px;
		 	padding-top: 4px;
		}
/*** FIN SELECTION DE PRESENTATION DE RESULTATS***/

.selected {
    border : 3px #519802 groove;
    background-color:#519802;
}

.valider{
    position: absolute;
    right:10%;
    bottom: 10%;
    background-color: #519802; /* vert */
    padding: 10px;
}
.retour{
    position: absolute;
    left:10%;
    bottom: 10%;
    padding: 10px;
}

.demarre_vote {
    background-color: #ff284a;
}

.ecran_de_vote{
    border : 3px #519802 groove;
    background-color:#519802;
}

.bigButton {
    background-color: #ff284a;
    padding : 5%;
}
